{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin/admin_index.html' %}
{% block body %}
{#<table width="200" border="1" class="table table-success table-striped">#}
{#  <tr>#}
{#    <td><a href="manage_hr">manage hr</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="view_vacancy_approve">View vacancy</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="view_shortlist_clients">View Shortlisted Candidates</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="view_selected_candidates">View Selected candidates</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="/">Logout</a></td>#}
{#  </tr>#}
{#</table>#}
{#</body>#}
{#</html>#}
{% endblock %}