{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'hr/hr_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
{#  <table width="200" border="1"  class="table table-success table-striped">#}
{#    <tr>#}
{#      <td><a href="add_manage_vacancy">Add&manage vacancy</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href=" add_manage_question">Add & manage question</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="view_application">View Application</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="interview_score_update">Interview Score update</a></td>#}
{#    </tr>#}
{#      <tr>#}
{#      <td><a href="test_result">test result</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="view_shortlist">view shortlist</a></td>#}
{#    </tr>#}
{#  </table>#}
  <label>
 <tr>
    <td><a href="/">Logout</a></td>
  </tr>
  </label>
</form>
{#</body>#}
{#</html>#}
{% endblock %}