{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'hr/hr_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/update_score_action">
  <table width="200" border="1"  class="table table-success table-striped">
    <tr>
      <td>Score
        <label>
        <input type="text" name="textfield" required pattern="[0-9]{0,250}"/>
      </label></td>
    </tr>
      <td>Status
        <label>
            <select name="Status">
                <option>Selected</option>
                <option>Rejected</option>
            </select>
{#        <input type="text" name="Status" required />#}
      </label></td>
    </tr>
    <tr>
      <td align="center"><label>

          <button type="submit" class="btn btn-primary">Update
{#              <a  href="{% url 'delete_hr' hr_id=i.id %}">#}
{#            <span class="bi bi-trash3" aria-hidden="true"></span>#}
{#              </a>#}
         </button>


{#        <input type="submit" name="Submit" value="Update" />#}
      </label></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}